extends layout 

block right-content 
    .user--form
        .container
            .card.blue-grey.lighten-5
                .card-content
                    a(href="/login").left-align.back--to--login 
                        span.material-icons arrow_back
                        span Back to Login

                    form.col.s12(action="/forgotPassword" method="POST") 
                        h5.center-align Forgot Password
                        .row
                            br
                            .input-field.col.s12
                                input#username(type="text" name="username") 
                                label(for="username") Enter Your UserName

                        .row.action--btn
                            button.btn(type="submit" name="action") Send Reset Link